NEXT_PUBLIC_SUPABASE_URL=https://bouhbfufhdeeuukfoxqu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_your_publishable_key
SUPABASE_SERVICE_ROLE_KEY=sb_secret_your_service_role_key
RESEND_API_KEY=re_your_resend_api_key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GEOFENCE_LAT=28.6890
NEXT_PUBLIC_GEOFENCE_LNG=77.4538
